

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--main-font);
}

:root{
    --main-font: 'Karla', sans-serif;
    --sec-font: 'Montserrat', sans-serif;
    --main-blue: #8974F7;
    --main-red: #F25979;
    --sec-red: #FF4460;
    --sec-blue: #8362FA;
    --blue-grey: #a8b8d0;
    --black: #222d38;
}


#workspace-maker-container{
  display: flex;
}

#left-box{
  width: 36%;
  height: 100vh;
  line-height: 1.5;
}

#left-header{
  text-align: center;
  padding-top: 16%;
}

#inputs-container{
  width: 80%;
  margin: auto;
  text-align: center;
}

#submit-box{
  width: 80%;
  margin: auto;
  text-align: center;
}

#finish-btn{
  width: 60%;
  margin-top: 5%;
  background-color: var(--main-red);
  color: white;
  border-color: transparent;
  border-radius: 3px;
  box-shadow: 0px 3px 0px var(--sec-red);
  font-size: 2em;
  padding-top: 2%;
  padding-bottom: 2%;
}

.finish-btn-inactive{
  opacity: 0.65;
  cursor: not-allowed;
}

#finish-btn.finish-btn-active:hover{
  background-color: var(--sec-red);
  cursor: pointer;
}

.data-input{
    width: 100%;
    padding: 3%;
    margin-top: 7%;
    color: var(--black);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #e1e5eb;
    font-size: 1em;
    line-height: 1.5;
}

#right-box{
  width: 64%;
  background-color: var(--main-blue);
}
